
<div class="footer-text">
    <h2 class="titulo-secundario">{{ dadosCompartilhados?.tra?.headerContatos }}</h2>
    <p class="texto">{{ dadosCompartilhados?.tra?.textContatos }}</p>
    <h2 class="titulo-secundario">{{ dadosCompartilhados?.tra?.footerTextContatos }}</h2>
    <div class="contatos-web-tablet">
        <i class="icon"><i class="fas fa-mobile-alt"></i></i> 
        <p class="texto-contato">+55 (61) 99327-1190</p>
        <br>
        <i class="icon"><i class="far fa-envelope"></i></i> 
        <p class="texto-contato">emersontorres06@gmail.com</p>
    </div>
</div>

<div class="contatos-mobile">
    <i class="fas fa-mobile-alt"></i>
    <p class="texto-contato-mobile">+55 (61) 99327-1190</p>
    <br>
    <i class="far fa-envelope"></i>
    <p class="texto-contato-mobile">emersontorres06@gmail.com</p>
    <br>
    <div class="icon-contatos-mobile">
        <a href="https://www.linkedin.com/in/emerson-torres-b41332101/" class="d-inline-block position-relative mr-5">
            <i class="icon"><i class="fab fa-linkedin"></i></i>
        </a>
        <a href="https://github.com/EmersonTorres06" class="d-inline-block position-relative ml-5">
            <i class="icon"><i class="fab fa-github"></i></i>
        </a>
    </div>
</div>

<div class="eu_footer"></div>
<div id="footer" class="nuvem_footer"></div>